@import url(./normalize.css);

/* Basic Rules */


*,*::before,*::after{
    box-sizing: border-box;
}

ul, p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}




/* Typography */


html{
    font-size: 62.5%;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: var(--color-Light-Grayish-Cyan-Background);
}

:root{
    --color-Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --color-Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
    --color-Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --color-Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --color-Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
}


/* Page Header */

.page-header{
    padding-top: 5rem;
    background-color: var(--color-Desaturated-Dark-Cyan);
    background-image: url(/images/bg-header-mobile.svg);
}

@media screen and (min-width:1024px) {
    .page-header{
        padding-top: 2rem;
        background-image: url(/images/bg-header-desktop.svg);
    }
}




/* Badges green */

.company-badge{
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 0.5rem 1rem 0.3rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.badge--green{
    background-color: var(--color-Dark-Grayish-Cyan);
}

.job-badge{
    cursor: pointer;
    padding: 0.5rem 1rem 0.4rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-Light-Grayish-Cyan-Background);
    color: var(--color-Dark-Grayish-Cyan);
}

/* Job display */

.job__company-logo object{
    transform: scale(0.5);
}

.job__company-logo {
    position: absolute;
    top: -44px;
    left: -2px;
}

@media screen and (min-width:1024px) {
    .job__company-logo{
        position: static;
    }

    .job__company-logo object{
        transform: scale(0.7);
    }

}

.job__company-name{
    font-weight: bold;
    color: var(--color-Desaturated-Dark-Cyan);
    margin-right: 1rem;
}

.job__role{
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-Very-Dark-Grayish-Cyan);
    cursor: pointer;
    transition: all 0.1s;
}

.job__role:hover{
    color: var(--color-Dark-Grayish-Cyan);
}

.job__details{
    display: flex;
    padding: 0;
}

.job__details li{
    margin-right: 2rem;
    color: var(--color-Dark-Grayish-Cyan);
}

.job__details li:nth-of-type(1){
    list-style: none;
}



/* Job badges display */

.job__badges{
    display: flex;
    flex-wrap: wrap;
    border-top: 1.5px solid var(--color-Desaturated-Dark-Cyan);
}

.job-badge{
    margin-top: 12px;
    margin-right: 10px;
    transition: all 0.1s;
}

.job-badge:hover{
    background-color: var(--color-Dark-Grayish-Cyan);
    color: white;
}

@media screen and (min-width:1024px) {
    .job__badges{
        align-items: center;
        border: 0;
        flex-grow: 1;
        justify-content: flex-end;
        max-width: 450px;
    }
    .job-badge{
        margin: 10px;
    }
}




/* Job section layout */

.job{
    background-color: white;
    position: relative;
    padding: 3rem 2rem 2rem;
    border-left: 5px solid var(--color-Dark-Grayish-Cyan);
    border-radius: 5px;
    width: 90vw;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}


@media screen and (min-width:1024px) {
    .job{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        width: 80vw;
        align-items: center;
        margin: 25px auto;
    }
    
    .info-container{
        display: flex;
    }
    
    .job__description{
        padding-top: 1rem;
    }
}


/* Job listing section */

.job-listing{
    margin: 10rem 0;
}

@media screen and (min-width:1024px) {
    .job-listing{
        margin: 7rem 0;
    }
}



/* Job search */

.page-header{
    min-height: 15rem;
}

@media screen and (min-width:1024px) {
    .page-header{
        min-height: 8rem;
    }
}

.job-search{
    margin: 0 auto;
    position: relative;
    top: 78px;
    width: 90vw;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.job-search--hidden{
    display: none;
}

.selected-badges{
    flex-grow: 1;
}


.selected-badge{
    padding: 0.2rem 2rem 0.4rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-Light-Grayish-Cyan-Background);
    color: var(--color-Dark-Grayish-Cyan);
    overflow: hidden;
    display: inline-block;
    margin-right: 1rem;
}

#clear-filters{
    margin-right: 10px;
    font-weight: bold;
    color: var(--color-Dark-Grayish-Cyan);
    cursor: pointer;
}

#clear-filters:hover{
    text-decoration: underline;
}


@media screen and (min-width:1024px) {
    .job-search{
        width: 80vw;
        top: 38px;
    }
}



.remove-icon{
    background-color: var(--color-Dark-Grayish-Cyan);
    padding: 2rem 0.7rem 2rem;
    position: relative;
    top: 4px;
    right: -20px;
    cursor: pointer;
    transition: 0.15s;
}

.remove-icon:hover{
    background-color: var(--color-Very-Dark-Grayish-Cyan);
}

